@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-stat-2 {
  background-color: rgb(155, 170, 68);
}

.bg-stat-3 {
  background-color: rgb(187, 172, 78);
}

.bg-stat-4 {
  background-color: rgb(255, 157, 60);
}

.bg-stat-5 {
  background-color: rgb(255, 93, 60);
}

.bg-vaksin-green-light {
  background-color: rgb(60, 182, 76);
}

.bg-vaksin-green-dark {
  background-color: rgb(31, 130, 44);
}

.text-vaksin-green-light {
  color: rgb(60, 182, 76);
}

.text-vaksin-indigo {
  color: rgb(41, 37, 95);
}

.bg-vaksin-indigo {
  background-color: rgb(41, 37, 95);
}
